USE [WATERLOO_UTEST2]
GO
/****** Object:  StoredProcedure [dbo].[CreateNewFugitiveStack]    Script Date: 8/20/2025 6:25:47 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

create    PROCEDURE [dbo].[CreateNewFugitiveStack] (
	@pstrModule char(1),
	@pnAppSysIndex integer,
	@pdblCaptureEff numeric(18,6),
	@pdblCaptureEffPM numeric(18,6),
	@pstrUserID nvarchar(10)
)
 AS

/*get the most recent created id for a fugitive stack */
declare @strMaxStackID as nvarchar(10)
declare @strNewStackID as nvarchar(10)
declare @nLastStackIndex integer
declare @GroupStackIndex integer

declare @pnFacilityIndex integer
declare @pnDepartmentIndex integer

declare @Module nvarchar(10)
set @Module = 	case @pstrModule
			when 'F' then 'FINISHING'
			when 'B' then 'BOILER'
			when 'M' then 'MISCELLANEOUS'
			when 'K' then 'KILN'
			when 'W' then 'WOOD'
			when 'D' then 'WOOD'
		end

select distinct
	@strMaxStackID = isnull(max(StackID ), 0)
from 
	M_STACK 
where 
	Fugitive = 1
	and StackID like 'FG[0-9][0-9][0-9][0-9]'

if @strMaxStackID <> '0'
begin
	set @strMaxStackID = convert(int, substring(@strMaxStackID, 3, 4))
end

/*set new StackID*/
set @strNewStackID = 'FG' + right('0000' + convert(nvarchar(4), @strMaxStackID + 1), 4)

/*get facilityindex and departmentindex for the current application system*/
select @pnFacilityIndex = isnull(FacilityIndex, 0), @pnDepartmentIndex = isnull(DepartmentIndex, 0) from F_APPLICATION_SYSTEM where ApplicationSystemIndex = @pnAppSysIndex


/*create new stack*/
INSERT INTO [M_STACK](
	[StackID], 
	[FacilityIndex], 
	[DepartmentIndex], 
	[ModuleID], 
	[Active], 
	[AddDate], 
	[EditDate], 
	[usr], 
	[Fugitive],
	[MediaTypeIndex],
	[ReleaseTypeIndex],
	[CalculateTypeIndex]
)
VALUES(
	@strNewStackID, 
	@pnFacilityIndex, 
	@pnDepartmentIndex, 
	@Module, 
	1,
	getdate(),
	getdate(),
	@pstrUserID,
	1,
	1,
	2,
	2
)

set @nLastStackIndex = scope_identity()
print @nLastStackIndex


/*is there a group stack index assigned ? if not, create one*/

SELECT 
	@GroupStackIndex = GroupStackIndex 
FROM 
	F_APPLICATION_SYSTEM_STACK_GROUPS 
WHERE 
	ApplicationSystemIndex =  @pnAppSysIndex


if isnull(@GroupStackIndex, 0) = 0 
begin
--	print 'no group stack index...'
	INSERT INTO [F_APPLICATION_SYSTEM_STACK_GROUPS](
		ApplicationSystemIndex, 
		[AddDate], 
		[EditDate], 
		[usr]
	)
	VALUES(
		@pnAppSysIndex, 
		getdate(), 
		getdate(), 
		@pstrUserID
	)
	set @GroupStackIndex = scope_identity()	
end
else
	print @GroupStackIndex

/*assign the new fugitive stack to the current groupstackindex */
INSERT INTO [F_APPLICATION_SYSTEM_STACK](
	[ApplicationSystemIndex], 
	[StackIndex], 
	[PercentThroughStack], 
	[PercentThroughStackPM], 
	[GroupStackIndex], 
	[Active], 
	[AddDate], 
	[EditDate], 
	[usr],
	[MediaTypeIndex],
	[ReleaseTypeIndex],
	[CalculateTypeIndex]
)
VALUES(
	@pnAppSysIndex, 
	@nLastStackIndex, 
	1 - isnull(@pdblCaptureEff, 1), 
	1 - isnull(@pdblCaptureEffPM, 1), 
	@GroupStackIndex, 
	1, 
	getdate(), 
	getdate(), 
	@pstrUserID,
	1,
	2,
	2
)


GO
