USE [WATERLOO_UTEST2]
GO
/****** Object:  StoredProcedure [dbo].[ATTACHED_DOC_UPDATE]    Script Date: 8/20/2025 6:25:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   PROCEDURE [dbo].[ATTACHED_DOC_UPDATE]
	@AttachedDocID [int] = NULL ,
	@AttachedDocName [nvarchar] (2000) = NULL,
	@AttachedDocDesc [nvarchar] (1000) = NULL,
	@AttachedDoc [image] = NULL,
	@FileName [nvarchar] (1000) = NULL,
	@FileType [nvarchar] (5) = NULL,
	@SortOrder [int] = NULL ,
	@AttachedDocCategoryId [int] = NULL ,
	@Email [bit] = NULL ,
	@EmailPastDue [bit] = NULL ,
	@EmailCompleted [bit] = NULL ,
	@ExpirationDate [datetime] = NULL ,
	@usr [nvarchar] (10) = NULL ,
	@AttachedDocCategoryIds AttachedDocsCategoryType READONLY,	--TFS#6066 Ariel On On 2014/10/17
	@AttachedDocTags AttachedDocsTagsType READONLY,				--TFS#6821 Ariel On On 2014/12/01
	@LegalHold [bit] = 0,
	@RevisionDate [datetime] = NULL,
	@ApprovedForDelete [bit] = 0,
	@AttachedDocRootIndex [int] = NULL, --TFS#6605 Ariel On 2015/01/22
	@Active [bit] = 0,					--TFS#6605 Ariel On 2015/01/22
	@AttachedToEmployee AttachedToEmployeeID READONLY, --TFS#70670 Lana On 2017/08/30
	@LanguageID [nvarchar] (5) = NULL,
	@DocTypeIndex [int] = NULL
AS
	BEGIN TRAN
	
	DECLARE @OldAttachedDocRootIndex AS INT
	 
	SELECT @OldAttachedDocRootIndex = AttachedDocRootIndex  
	FROM G_ATTACHED_DOCS gad 
	WHERE gad.AttachedDocID = @AttachedDocID
	


	-- Set @AttachedDocRootIndex = null if zero

	if @AttachedDocRootIndex = 0 
	begin
		set @AttachedDocRootIndex=null
	end 

	-- It should call before main update because we want to inactivate the previous active document for this root index(@AttachedDocRootIndex).
	IF @AttachedDocRootIndex IS NOT NULL
	BEGIN
		IF @Active = 1
		BEGIN
			UPDATE G_Attached_Docs
			SET [Active] = 0
			WHERE AttachedDocRootIndex = @AttachedDocRootIndex AND [Active] = 1 
		END
	END
	
	IF @OldAttachedDocRootIndex <> @AttachedDocRootIndex
	BEGIN
		UPDATE G_ATTACHED_DOCS_ROOTS
		SET LastNoUsed = ISNULL(LastNoUsed, 0) + 1 
		WHERE AttachedDocRootIndex = @AttachedDocRootIndex
	END
	
	UPDATE G_ATTACHED_DOCS
	SET    [AttachedDocName] = @AttachedDocName,
	       [AttachedDocDesc] = @AttachedDocDesc,
	       [AttachedDoc] = @AttachedDoc,
	       [FileName] = @FileName,
	       [FileType] = @FileType,
	       [SortOrder] = @SortOrder,
	       [AttachedDocCategoryId] = @AttachedDocCategoryId,
	       [Email] = @Email,
	       [EmailPastDue] = @EmailPastDue,
	       [EmailCompleted] = @EmailCompleted,
	       [ExpirationDate] = @ExpirationDate,
	       [EditDate] = GETDATE(),
	       [usr] = @usr,
		   [LegalHold] = @LegalHold,
		   [RevisionDate] = @RevisionDate,
		   [ApprovedForDelete] = @ApprovedForDelete,
		   [AttachedDocRootIndex] = @AttachedDocRootIndex,
		   [AttachedDocRoot] = CASE WHEN @OldAttachedDocRootIndex <> @AttachedDocRootIndex THEN		   
										(SELECT ISNULL(gadr.AttachedDocRootName, '')FROM G_ATTACHED_DOCS_ROOTS gadr WHERE gadr.AttachedDocRootIndex = @AttachedDocRootIndex) + '-' +
										(SELECT CAST(ISNULL(gadr.LastNoUsed, 0) AS NVARCHAR(20)) FROM G_ATTACHED_DOCS_ROOTS gadr WHERE gadr.AttachedDocRootIndex = @AttachedDocRootIndex)
									ELSE  [AttachedDocRoot] END,
		   [Active] = @Active,
		   [LanguageID] = @LanguageID,
		   [DocTypeIndex] = @DocTypeIndex
	WHERE  [AttachedDocID] = @AttachedDocID
	
	

	IF @ApprovedForDelete <> (SELECT ISNULL(ApprovedForDelete, 0) FROM G_ATTACHED_DOCS WHERE AttachedDocID = @AttachedDocID)
	BEGIN
		UPDATE G_ATTACHED_DOCS 
		SET ApprovedForDeleteDate = GETDATE(), ApprovedForDeleteUser = @usr
		WHERE AttachedDocID = @AttachedDocID
	END

	--#region TFS#6066: Added By Ariel On 2014/10/17
	DELETE 
	FROM   G_ATTACHED_DOCS_CATEGORIES
	WHERE  AttachedDocID = @AttachedDocID
	--AND usr = @usr
	
	INSERT INTO G_ATTACHED_DOCS_CATEGORIES
	  (
	    AttachedDocID,
	    AttachedDocCategoryId,
	    AddDate,
	    EditDate,
	    usr
	  )
	SELECT @AttachedDocID,
	       AttachedDocCategoryId,
	       GETDATE(),
	       GETDATE(),
	       @usr
	FROM   @AttachedDocCategoryIds
	---------------------------------------------------------
	--#region TFS#6821: Added By Ariel On 2014/12/01
	DELETE 
	FROM   G_ATTACHED_DOCS_TAGS
	WHERE  AttachedDocID = @AttachedDocID
	
	INSERT INTO G_ATTACHED_DOCS_TAGS
	  (
	    AttachedDocID,
	    AttachedDocTagIndex,
	    AddDate,
	    EditDate,
	    usr
	  )
	SELECT @AttachedDocID,
	       [AttachedDocTagIndex],
	       GETDATE(),
	       GETDATE(),
	       @usr
	FROM   @AttachedDocTags
	--end region TFS#6821


	--#Region TFS#70670: Added By Lana On 2017/08/30
	DELETE 
	FROM   G_ATTACHED_DOCS_EMPLOYEES
	WHERE  AttachedDocId = @AttachedDocID

	INSERT INTO G_ATTACHED_DOCS_EMPLOYEES
	  (
	    AttachedDocId,
	    EmpID,
	    AddDate,
	    EditDate,
	    usr
	  )
	SELECT @AttachedDocID,
	       [AttachedToEmployeeID],
	       GETDATE(),
	       GETDATE(),
	       @usr
	FROM   @AttachedToEmployee
	--end region TFS#70670

	
	IF @@ERROR = 0
	    COMMIT TRAN
	ELSE
	    ROLLBACK TRAN
	    --end region TFS#6066
	    



GO
